body{!important;
text-align:center;
width:inital!important;
min-height:100%
	
}body main{
	background-color:#fff;
	overflow:inherit;
	padding-left:20px;
	padding-right:20px;
	padding-top:60px;
	margin:auto;flex-wrap:
	wrap;justify-items:flex-start;
	align-items:
	flex-start;
	align-content:baseline;
	width:100%
	
}.information>tbody{
		display:flex;
		justify-content:end;
		flex-direction:unset;
		flex-wrap:wrap;
		align-items:baseline
	
}.information>tbody>tr{
	width:45%;
	max-width:50%;
	display:
	inline-block;
	display:
	flex;
	flex-direction:column;
	justify-content:end;
	border:none;
	padding:5px;
	text-align:center;
	height:100%;
	align-items:
	flex-start;
	flex-shrink:2;
	flex-basis:fill
	
}.information>tbody>tr:nth-child(2n){
	padding-right:0
	
}.information>tbody>tr:nth-child(odd){
	padding-left:0
	
}.information>tbody>tr>td:first-child{
	font-size:11px;
	color:#777;
	font-weight:600;
	text-transform:uppercase;
	margin:0
	
}.information>tbody>tr>td:nth-child(2){
	text-align:left;
	font-size:16px;
	color:#111;
	font-weight:600;
	padding-top:0;
	padding-bottom:0;
	margin:.425rem 0 .625rem
	
}header{
	width:auto;right:0;
	left:0;
	box-sizing:border-box;
	background-image:linear-gradient(90deg,#222,#424242);
	box-shadow:0 1px 1px 0 rgba(0,0,0,.3);
	border:none!
	important}header #btn-login{
		padding:.325rem .75rem;
		border:1px solid #000;
		border-radius:1rem;
		-webkit-filter:brightness(5000%);
		filter:brightness(5000%);
		border-color:#fff!important;
		font-weight:700;
		color:#fff;
		transform:scale(.95)}}}